<h1>Pedidos de hoy - <%= @orders.count %></h1>

<%= form_tag find_orders_path do -%>
<div class="form-group">
	<div class="input-group input-group-md">
		<input type="text" name="search" class="form-control" placeholder="Buscar ... ">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Buscar Orden</button>
		</span>
	</div>
</div>
<%end%>
<br/>
<%= link_to  montly_orders_path(format: "csv"), class: 'btn btn-info pull-right' do%>
 <i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar datos del día
<%end%>
<%if @orders.count != 0  %>
<table class="table table-bordered table-shop">
	<caption>Tabla de ordenes del usuario</caption>
	<thead>
		<tr>
			<th>Codigo interno</th>
			<th>Codigo de pago</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Teléfono</th>
			<th>Metodo de pago</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.codigo %></td>
			<td><%= order.conekta_order %></td>
			<td><%= "#{order.nombre_persona_que_ordena} #{order.apellidos_persona_que_ordena} "%>
				<td><%= order.email %></td>
				<td><%= order.telefono_celular %></td>
				<td><%= order.metodo_de_pago %></td>
		    <td> <%= link_to 'Mas datos...', order_path(id: order.id)%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>
	<% if params[:pages] %>
	<%= will_paginate @orders, :previous_label => '← Anterior', :next_label => 'Siguiente →', renderer: BootstrapPagination::Rails %>
	<%end%>
	<%else%>
	<center>
		<p>No se han encontrado ordenes para hoy</p>
	</center>
<%end%>