<h1>Pedidos de hoy - <%= @orders.count %></h1>
<%= form_tag find_orders_path do -%>
<div class="form-group">
	<div class="input-group input-group-md">
		<input type="text" name="search" class="form-control" placeholder="Buscar ... ">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Buscar Orden</button>
		</span>
	</div>
</div>
<%end%>
<br/>
<%= link_to  montly_orders_path(format: "csv"), class: 'btn btn-info pull-right' do%>
<i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar datos del día
<%end%>
<%if @orders.count != 0  %>
<%= render partial: 'customers/orders', locals: {caption: "Tabla de ordenes del día", orders: @orders}%>
<%= will_paginate @orders, :previous_label => '← Anterior', :next_label => 'Siguiente →', renderer: BootstrapPagination::Rails %>
<%else%>
<center>
<p>No se han encontrado ordenes para hoy</p>
</center>
<%end%>