<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script type="text/javascript" >
Conekta.setPublishableKey('<%=$PUBLIC_KEY_CONEKTA%>');
var conektaSuccessResponseHandler = function(token) {
var $form = $("#card-form");
//Inserta el token_id en la forma para que se envíe al servidor
$form.append($("<input type='hidden' id='conektaTokenId' name='conektaTokenId'>").val(token.id));
//$form.get(0).submit(); Hace submit
$.ajax({
url: $form.attr('action'),
type: 'POST',
data: $form.serialize(),
error: function(error){
	alert('No ha podido realizarce el cargo debido a un error, le agradecemos su compresión');
}
});
};
var conektaErrorResponseHandler = function(response) {
var $form = $("#card-form");
$form.find(".card-errors").text(response.message_to_purchaser);
$form.find("button").prop("disabled", false);
};
//jQuery para que genere el token después de dar click en submit
$(function () {
$("#card-form").submit(function(event) {
$('#blur-msg').html('Procesando pago con tarjeta ....');
var $form = $(this);
// Previene hacer submit más de una vez
Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
return false;
});
});
</script>
<div class="col-lg-12" id="card-id">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="col-lg-12 head-card-payment">
			<div class="col-md-8">
				Pago con tarjeta
			</div>
			<div class="col-md-4 pull-right">
				<center>
				<%= image_tag 'cards2.png', width: '50%' %>
				</center>
			</div>
		</div>
		<br/><br/>
		<div class="col-md-12" style="background: #eee;">
			<center>
			<h2>Monto total: $<%= (pedido.total.to_f + session[:shipment_cost].to_f).round() %> MXN</h2>
			</center>
		</div>
		<div class="col-md-12 panel panel-default" style="background: url('/assets/micro_carbon.png'); border: solid 2px #010101; color:#fff;">
			<br/><br/><br/><br/>
			<form action="<%=tarjeta_path%>" method="POST" id="card-form" >
				<span class="card-errors"></span>
				<div class="col-lg-12">
					<label>
						<span>Nombre del tarjetahabiente</span>
					</label>
				</div>
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" size="20" data-conekta="card[name]" class="form-control" value="">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
					</div>
				</div><br/><br/>
				<div class="col-lg-12">
					<br/><br/>
					<label>
						<span>Número de tarjeta de crédito</span>
					</label>
				</div>
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" size="20" data-conekta="card[number]" class="form-control" value="">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
						</div>
					</div>
				</div><br/><br/>
				<div class="col-lg-12">
					<br/><br/>
					<label>
						<span>Fecha de expiración (MM/AAAA) -> (01/2018)</span>
					</label>
				</div>
				<div class="col-lg-12">
					<div class="col-md-5">
						<input type="text" size="2" data-conekta="card[exp_month]" class="form-control" value="" class="col-md-2">
					</div>
					<div class="col-md-1">
						<span>/</span>
					</div>
					<div class="col-md-6">
						<input type="text" size="4" data-conekta="card[exp_year]" class="form-control" value="" class="col-md-2">
					</div>
				</div>
				<div class="col-lg-12">
					<br/><br/>
					<label>
						<span>CVC</span>
					</label>
				</div>
				<div class="col-lg-12">
					<div class="col-md-5">
						<input type="text" size="4" data-conekta="card[cvc]" class="form-control" value="">
					</div>
					<div class="col-md-7">
						<i> Son 3 o 4 dígitos que usualmente vienen en la parte reversa de la tarjeta.</i>
					</div>
				</div>
				<br/><br/>
				<%= hidden_field_tag 'id', pedido.id %>
				
				<div class="col-lg-12" style="margin-bottom: 50px;">
					<br/><br/>
					<button type="submit" class="btn btn-primary pull-right">Generar Pago</button>
					
				</div>
			</form>
		</div>
	</div>
</div>