<p id="notice"><%= notice %></p>
<h1><%= @product.nombre %> - $ <%= @product.precio %> MXN</h1>
<div class="col-lg-12">
<br/><br/>
<div class="btn-group pull-right">
    <%= link_to @product, class: "btn btn-success"  do %>
    <i class="fa fa-folder-open" aria-hidden="true"></i>
    <%end%>
    <%= link_to edit_product_path(@product), class: "btn btn-info" do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <%end%>       
    <%= link_to gallery_path(@product), class: "btn btn-default" do %>
      <i class="fa fa-camera-retro" aria-hidden="true"></i>
    <%end%> 
    <%= link_to  @product, method: :delete, data: { confirm: '¿Estas segura de eliminar el producto?' }, class: "btn btn-danger" do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
     <%end%>
</div>
</div>

<div class="col-lg-12">
<br/><br/>

    <% @product.image_products.each do |img| %>
      <div class="col-md-2 " style="padding:3px !important;">
        <div class="thumbnail">
        <img src="<%= img.file.standar%>" alt="img.file" width="100%">
        </div>
      </div>
    <% end %>
</div>
<div class="col-lg-12">
  <table class="table table-bordered table-shop">
    <caption>Tabla con los datos del producto</caption>
    <thead>
      <tr>
        <th>Variable</th>
        <th>Dato</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fecha de creación</td>
        <td><%= @product.created_at.strftime('%D %R') %></td>
      </tr>
      <tr>
        <td>Fecha de actualización</td>
        <td><%= @product.updated_at.strftime('%D %R') %></td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td><%= @product.nombre %></td>
      </tr>
      <tr>
        <td>Nombre Científico</td>
        <td><%= @product.nombre_cientifico %></td>
      </tr><tr>
        <td>Familia</td>
        <td><%= @product.familia %></td>
      </tr><tr>
        <td>Orden</td>
        <td><%= @product.orden %></td>
      </tr><tr>
        <td>País de Procedencia</td>
        <td><%= @product.pais_de_procedencia %></td>
      </tr><tr>
        <td>Región Clímatica</td>
        <td><%= @product.region_climatica %></td>
      </tr><tr>
        <td>Categoría principal</td>
        <td><%= @product.categoria_principal_interna %></td>
      </tr><tr>
        <td>Necesidades</td>
        <td><%= @product.necesidades %></td>
      </tr><tr>
        <td>Descripcción</td>
        <td><%= @product.descripccion %></td>
      </tr><tr>
        <td>Peso o tamaño</td>
        <td><%= @product.tamano %></td>
      </tr><tr>
        <td>Riego</td>
        <td><%= @product.riego %></td>
      </tr><tr>
        <td>Luz</td>
        <td><%= @product.luz %></td>
      </tr><tr>
        <td>Colores </td>
        <td>
          <%= @product.color1 %><br/>
          <%= @product.color2 %><br/>
          <%= @product.color3 %><br/>
          <%= @product.color4 %><br/>
          <%= @product.color5 %><br/>
          
        </td>
      </tr><tr>
        <td>Precio</td>
        <td><%= @product.precio %></td>
      </tr>
    </tbody>
  </table>
</div>

