<li><a href="<%= search_path(search: 'arboles') %>">Arboles</a></li>
<li><a href="<%= search_path(search: 'arboles frutales') %>">Arboles Frutales</a></li>
<li><a href="<%= search_path(search: 'arbustos') %>">Arbustos</a></li>
<li><a href="<%= search_path(search: 'enredaderas trepadoras') %>">Enredaderas o Trepadoras</a></li>
<li><a href="<%= search_path(search: 'enredaderas sol') %>">Enredaderas Para el Sol</a></li>
<li><a href="<%= search_path(search: 'flor cortada') %>">Flor Cortada</a></li>
<li><a href="<%= search_path(search: 'follaje ornamental') %>">Follaje ornamental</a></li>
<li><a href="<%= search_path(search: 'palmas') %>">Palmas</a></li>
<li><a href="<%= search_path(search: 'plantas de sol') %>">Plantas de Sol</a></li>
<li><a href="<%= search_path(search: 'plantas de sol y sombra') %>">Plantas de Sol y Sombra</a></li>
<li><a href="<%= search_path(search: 'arborescentes') %>">Plantas Arborescentes</a></li>
<li><a href="<%= search_path(search: 'follaje y flor para sombra y media sombra') %>">Plantas de media sombra</a></li>
<li><a href="<%= search_path(search: 'setos') %>">Plantas para setos</a></li>
<li><a href="<%= search_path(search: 'cubrepisos') %>">Plantas para cubrepisos</a></li>
<li><a href="<%= search_path(search: 'anuales y perenes con flores') %>">Plantas anuales y perenes </a></li>
