<footer class="footer">
	<div class="container">
		<% if mobile_device? %>
		<div class="col-lg-12">
			<center>
			<br/>
			<%= image_tag('logos/520-full/verano.png', width: '50%') %><br/>
			<span class="text-muted">Ur Garden © Todos los derechos reservados <%=  DateTime.now.strftime('%Y')%> </span><br/>
			<%= link_to "Términos y Condiciones del sitio", terminos_path %><br/>
			<%= link_to "Aviso de privacidad", aviso_de_privacidad_path %><br/>
			<a  href="https://fb.me/UrGardenOficial" target="_blank">
				<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
			</a><br/><br/>
			<br/>
			</center>
		</div>
		<%else%>
		<div class="col-lg-12">
			<div class="col-md-4">
				<div class="li-divition">
					Nosotros
				</div>
				<ul>
					<li>
						<%= link_to "¿Que es Ur.Garden?", about_us_path %>
					</li>
					<li>
						<%= link_to "Contactanos", "mailto:contactourgarden@gmail.com" %>
					</li>
					<!--<li>
						<%= link_to "Nosotros", about_us_path %>
					</li>
					<li>
						<%= link_to "Socios estratégicos", terminos_path %>
					</li>-->
				</ul>
				
			</div>
			<div class="col-md-4">
				<div class="li-divition">
					Legal
				</div>
				<ul>
					<li>
						<%= link_to "Términos y Condiciones del sitio", terminos_path %>
					</li>
					<li>
						<%= link_to "Aviso de privacidad", aviso_de_privacidad_path %>
					</li>
				</ul>
				<a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.urgarden.com.mx' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
				<div class="li-divition">
					Redes Sociales
				</div>
				<ul>
					<!--<li><a  href="https://twitter.com/ubergardenMX" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>  </li>-->
					<li><a  href="https://fb.me/UrGardenOficial" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>  </li>
					<li><a  href="https://m.me/UrGardenOficial." target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Mensaje Facebook
					</a>  </li>
				</ul>
				<!--<div class="li-divition">
					Teléfono de contacto
				</div>
				<ul>
					<li><a  href="https://twitter.com/ubergardenMX" target="_blank">
						<i class="fa fa-phone" aria-hidden="true"></i> 5555-5555
					</a>  </li>
					<li><a  href="https://fb.me/ubergardenMX" target="_blank">
						<i class="fa fa-phone" aria-hidden="true"></i> 4444-4444
					</a>  </li>
				</ul>-->
			</div>
			<div class="col-md-4">
				<br/><br/>
				<center>
				<br/>
				<%= image_tag('logos/520-full/verano.png', width: '50%') %><br/>
				<span class="text-muted">Ur Garden © Todos los derechos reservados <%=  DateTime.now.strftime('%Y')%> </span>
				<br/>
				</center>
				<br/><br/>
			</div>
		</div>
		<%end%>
	</div>
</footer>