<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<%= link_to products_path do %>
				<%= image_tag('logo_blanco.png', width: 80) %>
				<%end%>
			</div>
			<center>
			<% if !session[:admin].nil? %>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav col-md-10 pull-right">
					<li class="pull-right">
						<%= link_to log_out_path do %>
						<i class="fa fa-sign-out" aria-hidden="true"></i>
						<%end%>
					</li>
					<li class="pull-right">
						<%=link_to customers_path do %>Clientes<%end%>
					</li>
					
					<li class="pull-right">
						<li class="pull-right dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administradores <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%=link_to admins_path do %>Ver todos<%end%></li>
								<li><%=link_to new_admin_path do %>Nuevo Administrador<%end%></li>
							</ul>
						</li>
						<li class="pull-right dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%=link_to orders_path do %>Todos los pedidos<%end%></li>
								<li><%=link_to today_orders_path do %> Pedidos de hoy <%end%></li>
								<li><%=link_to  montly_orders_path do %> Pedidos del mes<%end%></li>
								<li><%=link_to inprocess_orders_path do %>Pedidos en proceso<%end%></li>
								<li><%=link_to in_send_orders_path do %>Pedidios en envio<%end%></li>
								<li><%=link_to finish_orders_path do %>Pedidios finalizados<%end%></li>
							</ul>
						</li>
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="<%= products_path %>">Listado de productos</a></li>
								<li><%=link_to productos_no_publicados_path do %> Productos sin publicar <%end%> </li>
								<li><a href="<%= new_product_path %>">Nuevo Producto</a></li>
								<li><%=link_to import_list_path do %> Importación de lista <%end%> </li>
							</ul>
						</li>
						
					</ul>
					
					</div><!-- /.navbar-collapse -->
					</center>
					</div><!-- /.container-fluid -->
				</div>
				<%end%>
			</nav>