<%= render partial: '/tienda/contacto' %>

<% if mobile_device? %>
<div class="cart">
	<a href="<%= lista_de_productos_path %>" style="color: #fff;">
	    <center>
		<div class="cart-circle-btn">
			<span class="label label-warning" id="prodexp" style="margin-top:-10px;"><%= session[:product].size if !session[:product].nil? %></span> <br/>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<div style="display:none;">: $<span id="pricexp"><%= session[:price].to_f if !session[:price].nil? %><%= "0" if session[:price].nil? %></span> MXN</div>
		</div>
		</div>
	</a>
</div>
<%end%>
<div class="top-menu">
	<div class="col-md-2">
		<center>
		<%= link_to root_path do %>
		<%= image_tag('Uber_2.png', width: 180) %>
		<%end%>
		</center>
	</div>
	<div class="col-md-8 search-top">
		<center>
		<form action="<%= search_path %>" style="margin-top: 10px; z-index: 1">
			<div class="form-group">
				<div class="input-group input-group-md">
					<input type="text" name="search" class="form-control" placeholder="Buscar ... ">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
				</div>
			</div>
		</form>
		</center>
	</div>
	<div class="col-md-2 social-top">
		<center>
		<h3 >
		<a>
			<i class="fa fa-facebook-official" aria-hidden="true"></i>
		</a>
		<a>
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
		</a>
		<a>
		<i class="fa fa-youtube-square" aria-hidden="true"></i> </a>
		
		<a href="#" data-toggle="modal" data-target="#contactModal">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</a>
		</h3>
		</center>
	</div>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="search-mobile col-lg-12">
				<center>
				<form action="<%= search_path %>" style="margin-top: 10px; z-index: 1">
					<div class="form-group">
						<div class="input-group input-group-md">
							<input type="text" name="search" class="form-control" placeholder="Buscar ... ">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>
						</div>
					</div>
				</form>
				</center>
			</div>
			<center>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
				<ul class="nav navbar-nav col-md-9 menu-change-colors">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<%= render partial: '/layout_parts/cat_list' %>
						</ul>
					</li>
					<!--<li>
							<a href="#" >Ofertas y promociones</a>
					</li>-->
					<li>
						<%= link_to all_items_path do %>
						Todos los productos
						<%end%>
					</li>
				</ul>
				<div class="col-md-3">
					
				</div>
				<ul class="nav navbar-nav navbar-right col-md-3">
				<% unless mobile_device? %>
					<li ><a href="<%= lista_de_productos_path %>" style="color: #000;"><span class="label label-warning" id="prodexp"><%= session[:product].size if !session[:product].nil? %></span> Total <i class="fa fa-shopping-cart" aria-hidden="true"></i>: $<span id="pricexp"><%= session[:price].to_f if !session[:price].nil? %><%= "0" if session[:price].nil? %></span> MXN</a></li>
					<li><a href="<%=eliminar_items_del_carrito_path%>"><i class="fa fa-ban" aria-hidden="true"></i></a></li>
				<%end%>
				</ul>
				</div><!-- /.navbar-collapse -->
				</center>
				</div><!-- /.container-fluid -->
			</div>
		</nav>