<div class="col-lg-3 left_menu">
	<div class="col-lg-12">
		<h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="color:#DA81F5;"></span> Buscar Mercancia </h3>
	</div>
	<div class="col-lg-12">
		<h3><span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="color:#FF8000;"></span> Categorías </h3>
	</div>
	<div class="col-lg-12">
	<ul>
		<%= render partial: '/layout_parts/cat_list' %>
	</ul>
	</div>
	<div class="col-lg-12">
		<h3><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true" style="color:#5FB404;"></span> Mas vendido </h3>
	</div>
	<% if bp != nil  %>
	<% bp.each do |p| %>
	<div class="col-lg-12 best-items">
	    <a href="<%= item_path(p[:product].id) %>">
		<div class="col-md-5">
			<%= image_tag(p[:product].image_products.last.file.standar, width: '100%') %>
		</div>
		<div class="col-md-7">
			<%= p[:product].nombre %><br/>
			<span class="label label-default">Adquirido por <%= p[:count] %></span>
		</div>
		</a>
	</div>
	<%end%>
	<%end%>
	<div class="col-lg-12">
		<h3 style="margin-top: 20px;"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="color:#00BFFF;"></span> En redes sociales </h3>
	</div>
</div>