<!DOCTYPE html>
<html>
	<head>
		<title>Admin Ur Garden</title>

		<%= csrf_meta_tags %>
		<% if session[:session_token].nil? %>
		<% session[:session_token] = SecureRandom.hex(45) %>
		<%end%>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

	</head>
	<body id="body">
		<%= render partial: '/layout_parts/head_admin' %>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>