<!DOCTYPE html>
<html>
	<head>
		<title>Ubergarden</title>
		<%= csrf_meta_tags %>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= favicon_link_tag 'favicon.png', type: 'image/png' %>

	</head>
	<body>
		<%= render partial: '/layout_parts/head_menu' %>
		<%= render partial: '/layout_parts/index_slider' %>


		<div class="container">
			<%= yield %>
		</div>
	</body>
    <%= render partial: '/layout_parts/footer' %>
</html>

<script>
	/*var h = $(window).height() - 80;
	var w = $(window).width();
	$('#carousel-example-generic').height(h);
	$('.img-in').height(h);
	$('.img-in').width(w);*/

</script>